<?xml version="1.0"?>
<config>
  <modules>
    <Mage_Heidelpay>
            <version>14.01.08</version>
    </Mage_Heidelpay>
  </modules>
  <!--{{{Global-->
  <global>
    <models>
      <heidelpay>
        <class>Mage_Heidelpay_Model</class>
        <resourceModel>heidelpay_mysql4</resourceModel>
      </heidelpay>
      <heidelpay_mysql4>
        <class>Mage_Heidelpay_Model_Mysql4</class>
        <entities>
          <authors>
            <table>heidelpay</table>
          </authors>
        </entities>
      </heidelpay_mysql4>
      
            <!--
			<sales>
			  <rewrite>
                <order_pdf_invoice>Mage_Heidelpay_Model_Order_Pdf_Invoice</order_pdf_invoice>
	      </rewrite>
      </sales>
	  -->
            
    </models>
    <blocks>
	    <heidelpay>
        <class>Mage_Heidelpay_Block</class>
	    </heidelpay>
    </blocks>
    
    <helpers>
      
    </helpers>
    <resources>
      
      <heidelpay_setup>
        <setup>
          <module>Mage_Heidelpay</module>
          <class>Mage_Heidelpay_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </heidelpay_setup>
      
      <heidelpay_write>
		    <connection>
	        <use>core_write</use>
		    </connection>
			</heidelpay_write>
			<heidelpay_read>
		    <connection>
	        <use>core_read</use>
		    </connection>
			</heidelpay_read>
    </resources>
    <sales>
    	<order>
        <statuses>
                    <hppaid translate="label">
                        <label>Paid</label>
                    </hppaid>
                    <hpwait translate="label">
                        <label>Waiting</label>
                    </hpwait>
                    <hpcancel translate="label">
                        <label>Cancel</label>
                    </hpcancel>
                    <hperror translate="label">
                        <label>Error</label>
                    </hperror>
        </statuses>
        <states>
          <hppaid translate="label">
                        <label>Bezahlt</label>
				    <statuses>
                            <hppaid/>
				    </statuses>
				    <visible_on_front/>
          </hppaid>
					<hpwait translate="label">
                        <label>Wartend</label>
				    <statuses>
                            <hpwait/>
				    </statuses>
				    <visible_on_front/>
          </hpwait>
					<hpcancel translate="label">
                        <label>Abbruch</label>
				    <statuses>
                            <hpcancel/>
				    </statuses>
				    <visible_on_front/>
					</hpcancel>
					<hperror translate="label">
                        <label>Fehler</label>
				    <statuses>
                            <hperror/>
				    </statuses>
				    <visible_on_front/>
					</hperror>
				</states>
			</order>
		</sales>
  </global>
  <!--}}}-->
  <!--{{{Frontend-->
  <frontend>
    <secure_url>
      <heidelpay_payment_iframe>heidelpay/payment/iframe</heidelpay_payment_iframe>
    </secure_url>
    <routers>
      <heidelpay>
        <use>standard</use>
        <args>
          <module>Mage_Heidelpay</module>
          <frontName>heidelpay</frontName>
        </args>
      </heidelpay>
    </routers>
    <translate>
	    <modules>
        <Mage_Heidelpay>
	        <files>
            <default>Mage_Heidelpay.csv</default>
	        </files>
        </Mage_Heidelpay>
	    </modules>
    </translate>
    <layout>
      <updates>
        <heidelpay>
          <file>heidelpay.xml</file>
        </heidelpay>
      </updates>
    </layout>
  </frontend>
  <!--}}}-->
  <!--{{{Admin-->
  <admin>
    <routers>
	    <heidelpay>
        <use>admin</use>
        <args>
	        <module>Mage_Heidelpay</module>
	        <frontName>Heidelpay</frontName>
        </args>
	    </heidelpay>
    </routers>
	</admin>
    
  <adminhtml>  
    <translate>
	    <modules>
        <Mage_Heidelpay>
	        <files>
            <default>Mage_Heidelpay.csv</default>
	        </files>
        </Mage_Heidelpay>
	    </modules>
    </translate>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <heidelpay>
                      <title>Heidelpay Section</title>
                    </heidelpay>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <!--}}}-->
  <default>
    <heidelpay>
      <settings>
        <security_sender>31HA07BC8124AD82A9E96D9A35FAFD2A</security_sender>
        <user_id>31HA07BC8124AD82A9E96D486D19EDAA</user_id>
        <user_pwd>password</user_pwd>
        <live_url>https://heidelpay.hpcgw.net/sgw/gtw</live_url>
        <demo_url>https://test-heidelpay.hpcgw.net/sgw/gtw</demo_url>
      </settings>
    </heidelpay>
    <payment>
      <!--{{{HPCC-->
      <hpcc>
        <title>Credit Card</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>DB</bookingmode>
        <modulemode>DIRECT</modulemode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpcc</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpcc>
      <!--}}}-->
            <!--{{{HPCX-->
            <hpxc>
                <title>Credit Card X</title>
                <active>0</active>
                <transactionmode>CONNECTOR_TEST</transactionmode>
                <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
                <bookingmode>DB</bookingmode>
                <modulemode>DIRECT</modulemode>
                <order_status>pending</order_status>
                <payment_status>hppaid</payment_status>
                <wait_status>hpwait</wait_status>
                <cancel_status>hpcancel</cancel_status>
                <error_status>hperror</error_status>
                <model>heidelpay/method_hpxc</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hpxc>
            <!--}}}-->
      <!--{{{HPDC-->
      <hpdc>
        <title>Debit Card</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>DB</bookingmode>
        <modulemode>DIRECT</modulemode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpdc</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpdc>
      <!--}}}-->
      <!--{{{HPDD-->
      <hpdd>
        <title>Direct Debit - Lastschrift</title>
        <active>0</active>
        <transactionmode>INTEGRATOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>DB</bookingmode>
        <modulemode>DIRECT</modulemode>
		<sepamode>both</sepamode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpdd</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpdd>
      <!--}}}-->
      <!--{{{HPSU-->
      <hpsu>
                <title>SOFORT Überweisung</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>DB</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpsu</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpsu>
      <!--}}}-->
      <!--{{{HPGP-->
      <hpgp>
        <title>Giropay</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA662C5EDD1112</channel>
        <bookingmode>DB</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpgp</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpgp>
      <!--}}}-->
            <!--{{{HPBP-->
            <hpbp>
                <title>Barpay</title>
                <active>0</active>
                <transactionmode>CONNECTOR_TEST</transactionmode>
                <channel>31HA07BC81009F135218A33AE4A3F3FB</channel>
                <bookingmode>DB</bookingmode>
                <order_status>pending</order_status>
                <payment_status>hppaid</payment_status>
                <wait_status>hpwait</wait_status>
                <cancel_status>hpcancel</cancel_status>
                <error_status>hperror</error_status>
                <model>heidelpay/method_hpbp</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hpbp>
            <!--}}}-->
            <!--{{{HPBS-->
            <hpbs>
                <title>BillSafe</title>
                <active>0</active>
                <transactionmode>CONNECTOR_TEST</transactionmode>
                <channel>31HA07BC815DEA2098CCA5A7332203C6</channel>
                <bookingmode>DB</bookingmode>
                <order_status>pending</order_status>
                <payment_status>hppaid</payment_status>
                <wait_status>hpwait</wait_status>
                <cancel_status>hpcancel</cancel_status>
                <error_status>hperror</error_status>
                <model>heidelpay/method_hpbs</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hpbs>
            <!--}}}-->
            <!--{{{HPMK-->
            <hpmk>
                <title>MangirKart</title>
                <active>0</active>
                <transactionmode>CONNECTOR_TEST</transactionmode>
                <channel>31HA07BC81009F1352181DB01D6D904B</channel>
                <bookingmode>DB</bookingmode>
                <order_status>pending</order_status>
                <payment_status>hppaid</payment_status>
                <wait_status>hpwait</wait_status>
                <cancel_status>hpcancel</cancel_status>
                <error_status>hperror</error_status>
                <model>heidelpay/method_hpmk</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hpmk>
            <!--}}}-->
      <!--{{{HPPPAL-->
      <hpppal>
        <title>Pay Pal</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>DB</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpppal</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpppal>
      <!--}}}-->
      <!--{{{HPEPS-->
      <hpeps>
        <title>EPS</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel></channel>
        <bookingmode>DB</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpeps</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpeps>
      <!--}}}-->
      <!--{{{HPIDL-->
      <hpidl>
        <title>iDeal</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA804F6CABDC59</channel>
        <bookingmode>DB</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpidl</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpidl>
      <!--}}}-->
      <!--{{{HPPP-->
      <hppp>
        <title>Prepayment</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>PA</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hppp</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hppp>
      <!--}}}-->
      <!--{{{HPPP-->
      <hpiv>
        <title>Invoice</title>
        <active>0</active>
        <transactionmode>CONNECTOR_TEST</transactionmode>
        <channel>31HA07BC81A71E2A47DA94B6ADC524D8</channel>
        <bookingmode>PA</bookingmode>
        <order_status>pending</order_status>
        <payment_status>hppaid</payment_status>
        <wait_status>hpwait</wait_status>
        <cancel_status>hpcancel</cancel_status>
        <error_status>hperror</error_status>
        <model>heidelpay/method_hpiv</model>
        <sort_order>1</sort_order>
        <min_amount>0</min_amount>
        <max_amount>0</max_amount>
        <allowspecific>0</allowspecific>
      </hpiv>
      <!--}}}-->
    </payment>
  </default>
</config>
